image:
  - Visual Studio 2015
  - Ubuntu
  - macos

version: '{build}'
platform: x64

install:
  - cmd: set STACK_ROOT=c:\s
  - cmd: set PATH=C:\Program Files\Git\mingw64\bin;%PATH%
  - cmd: curl -sS -o stack.zip -L --insecure https://get.haskellstack.org/stable/windows-x86_64.zip
  - cmd: 7z x stack.zip stack.exe
  - sh: curl -sSL https://get.haskellstack.org/ | sh
build_script:
  - cmd: stack.exe setup
  - cmd: stack.exe --no-terminal build
  - cmd: stack.exe --no-terminal install
  - cmd: appveyor PushArtifact C:\Users\appveyor\AppData\Roaming\local\bin\juicy-gcode.exe
  - sh: stack setup
  - sh: stack build
  - sh: stack install
  - sh: appveyor PushArtifact ~/.local/bin/juicy-gcode